In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
rrank = lambda df,k: df[np.isclose(df['rrank'], 1/k)]
equal = lambda df,k: df[np.isclose(df['rrank'], 1/k)]
gequal = lambda df,k: df[np.isclose(df['rrank'], 1/k) | (df['rrank'].ge(1/k))]

In [3]:
all = pd.read_csv('/data/khodadaa/lucene-index/rranks.csv', header=None)
sub = pd.read_csv('/data/khodadaa/lucene-index/rr/05092047_sub2_rranks.csv', header=None)
all.rename(columns={0:'query', 1: 'prec@10', 2: 'prec@20', 3: 'rrank', 4: 'avg(prec)', 5: 'recall@200', 6: 'recall@1000', 7:'ndcg10'}, inplace=True)
sub.rename(columns={0:'query', 1: 'prec@10', 2: 'prec@20', 3: 'rrank', 4: 'avg(prec)', 5: 'recall@200', 6: 'recall@1000', 7:'ndcg10'}, inplace=True)

In [4]:
a1 = equal(all, 1)
s1 = equal(sub, 1)
a2 = gequal(all, 2)
s2 = gequal(sub, 2)

In [8]:
query_assignment = pd.read_csv('/data/khodadaa/lucene-index/query-assignments/05092047_query_assignment.csv', header=None)
query_assignment.rename(columns={0: 'query', 1:'assignment'}, inplace=True)
query_assignment['assignment'] = query_assignment['assignment'].map(lambda x: x.strip())
query_assignment['query'] = query_assignment['query'].map(lambda x: x.strip())
query_assignment['rrank'] = -1.0
for index, row in query_assignment.iterrows():    
    if row['assignment'] == 'all':        
        rrv = all.loc[all['query']==row['query'], 'rrank']
    elif row['assignment'] == 'sub':        
        rrv = sub.loc[sub['query']==row['query'], 'rrank']
    if rrv.size == 0:
        continue
    query_assignment.loc[index, 'rrank'] = rrv.values[0]

                  query assignment  rrank
1616        2PAC SHAKUR        sub   -1.0
3258  William Thackeray        sub   -1.0

In [22]:
tran1_sub = sub[sub['query'].isin(a1['query'])]
tran2_sub = sub[sub['query'].isin(a2['query'])]
#query_assignment[query_assignment['rrank'] < 0.0]
tran1_alg = query_assignment[query_assignment['query'].isin(a1['query'])]
tran2_alg = query_assignment[query_assignment['query'].isin(a2['query'])]

In [26]:
print((a1['rrank'].mean(), a2['rrank'].mean()))
print(tran1_sub['rrank'].mean(), tran2_sub['rrank'].mean())
print(tran1_alg['rrank'].mean(), tran2_alg['rrank'].mean())

(1.0, 0.7933011466505733)
0.8401577503429355 0.8500301750150875
0.9008573388203017 0.8618990142828405

# Tricks

In [ ]:
ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
ts = ts.cumsum()
ts.plot()
plt.figure()

In [ ]:
%%bash
find /data/khodadaa/analysis/ -name "*.csv"

In [ ]:
%%latex
\begin{equation}
maximize \quad KLD(C,D) + \lambda \Sigma pop(d, C)\\
s.t. \quad \forall d \in C pop(d,C) \geq \theta_p
\end{equation}